

body{
    --textColor: #fefefe;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: 1fr 14fr;
    height: 100vh;
    transition: opacity 500ms;
    overflow: auto;
}

.header{
    background-color: #1D1F2B;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.header a{
    float: left;
    color: var(--textColor);
    text-align: center;
    aspect-ratio: 1.5/1;
    padding-right: 1%;
    padding-left: 1%;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
}



.header a.active{
    background-color: #04AA6D;
    color: var(--textColor);
}

.header a:hover{
    background-color: #ddd;
    color: black;
}

.alignTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}




.middle{
    background-color: #252837;
    z-index: 1;
    height: 100vh;
}

#video{
    position: relative ;
    top: 0;
    float: right;
    margin-right:10%;
    margin-top: 3.5%;
    width: 30vw;
    border: none;
    shape-outside: url("../Video/TTD-VIDEO.m4v");
    filter: drop-shadow(5px 5px 5px #666666);

}

h1{
    padding-left: 1%;
    padding-top: 6vh;
    margin: 0;
    font-size: 2.4vw;
    color: var(--textColor);
}

p{
    margin: 0;
    padding-left: 1%;
    font-size: 1.3vw;
    font-family: "Times New Roman";
    line-height: 1.6;
    color: var(--textColor);
}

.paragraphspace{
    padding-top: 1.5%;
}

#downLoadLink{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#downLoadLink span{
    filter: drop-shadow(2px 2px 2px #666666);
}

.downloadparagraph{
    color: -webkit-link;
    font-size: 2.2vw;
}

.downloadparagraph a:hover{
    cursor: pointer;
    color: #fefefe;
}

.explaitionOnHowToPlayGame{
    padding-top: 1%;
}

.pictureDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictures{
    padding-top: 1%;
    filter: drop-shadow(5px 5px 5px #666666);
}

img{
    max-width: 100% !important;
}

.highlight{
    background-color: rgba(77, 77, 77, 0.76);
    filter: drop-shadow(5px 5px 5px rgba(77, 77, 77, 0.76));
}

p a{
    color: -webkit-link;
}

p a:hover{
    color: #fefefe;
    cursor: pointer;
}

#alreadyHaveJava{
    padding-top: 1.5%;
}


.pictureDivgamescreen{
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttom{
    background-color: #252837;
}

.pictureDivGameMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picturesGameMenu{
    padding-top: 1%;
    padding-bottom: 2%;
    filter: drop-shadow(5px 5px 5px #666666);
    max-height: 35vw;
    width: auto;
}







@keyframes fall {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 1;
    }
}
@keyframes sway {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 50px;
    }
    50% {
        margin-left: -50px;
    }
    75% {
        margin-left: 50px;
    }
    100% {
        margin-left: 0;
    }
}

.snow {
    animation: fall ease-in infinite, sway ease-in-out infinite;
    color: skyblue;
    position: absolute;
    z-index: 1;
}


@media screen and (max-width: 828px) {
    h1{
        padding-top: 4vh;
        font-size: 4.5vw;
    }

    p{
        font-size: 3vw;
    }

   video{
       padding-top: 4vw;
       padding-left: 2vw;
   }

    .downloadparagraph{
        font-size: 4vw;
    }

    .picturesGameMenu{
        max-height: 80vw;
    }
}



